/* color pallet options
#3E8E7E
#7CD1B8
#FABB51
#FAEDC6

#00AF91
#007965
#F58634
#FFCC29 */

:root {
  --mycolor: rgb(245, 195, 33);
}

/*Header styling  with Nav bar click jump links*/
.header {
  padding: 20px;
  font-family: "Anton", "sans-serif";
  background: radial-gradient(circle, #7cd1b8, #3e8e7e);
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.header h1 {
  font-size: 48px;
  display: flex;
}

/*Animation added to middle name*/
.header h1 .Lorraine {
  color: var(--mycolor);
  font-family: "Brush Script MT", cursive;
  font-size: 75px;
  position: relative;
  animation: bounce 2s linear 1ms normal 3;
  padding: 10px;
  top: -30px;
}

@keyframes bounce {
  from {
    top: -100px;
    bottom: 40px;
  }
  to {
    top: 70px;
    bottom: 70px;
  }
}

.header nav {
  padding-top: 10px;
  margin-right: 20px;

  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

.header nav ul {
  list-style-type: none;
  align-items: right;
  margin-left: 45px;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  scroll-behavior: smooth;
}

/*how to make space in between li items?*/
.header li a {
  color: var(--mycolor);
  font-size: 26px;
  font-weight: bolder;
  scroll-behavior: smooth;
}

/*Resume open browser of google docx*/
#resume {
  color: white;
  text-decoration: none;
}

#resume:hover {
  font-size: 150%;
}

#resume:active {
  color: #ffffff;
}

/*Profile pic as background image banner*/
.profile-banner {
  height: 95vh;
  width: 100%;
  margin-bottom: 25px;
  background-image: linear-gradient(
      rgba(228, 199, 72, 0.5),
      rgba(78, 76, 76, 0.5)
    ),
    url("../images/ELM-profile-pic-400px.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  
}

/* cannot get this div with h3 to flex and move in position - not sure if should flex or position block on relative*/ 
/* .banner-subtitle {
  display: block;
  width: fit-content;
  height: fit-content;
 margin: auto;

}

.banner-subtitle h3 {
  color: var(--mycolor);
  text-decoration-line: overline;
  font-size: 28px;
  background-color: tomato;
}  */

/*start of main area with section anchors*/
.about-me p {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  font-size: 26px;
  border: 6px solid #7cd1b8;
  padding: 2%;
}

/* need title to be on outside of border
.work-title {
  font-size: 28px;
  color: var(--mycolor);
  background-color: lightcoral;
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  height: fit-content;
  float: left;
} */

/*Flexbox display of linked works*/
.work-flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: 6px solid #7cd1b8;
  margin-left: 20%;
}

/*how to get space even for card line up*/
.flexbox-card {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: 100%;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  border: 4px solid #3E8E7E;
  border-radius: 8px;
  margin-bottom: 24px;
  text-align: center;
 
}

.flexbox-card a img {
  opacity: 0.5;
  width: 100%;
  object-fit: cover;
}

.card-header {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  margin: auto;
  padding: 2%;
}

.flexbox-card:hover {
  box-shadow: inset 0px 0px 8px var(--mycolor), 0 0 15px var(--mycolor);
}

.flexbox-card.flexbox-card-1 {
  flex: 0 0 90%;
}

/*Contact box*/
.contact-me {
  background: radial-gradient(circle, #3e8e7e, #7cd1b8);
  text-align: center;
  padding: 5%;
  font-family: "Anton", "sans-serif";
  font-size: 26px;
  font-weight: bolder;
  word-spacing: 30px;
  margin-top: 2%;
}

.contact-me a:link {
  color: #ffffff;
}
.contact-me a:visited {
  color: var(--mycolor);
}
.contact-me a:hover {
  font-size: 150%;
}
.contact-me a:active {
  color: var(--mycolor);
}

/*Footer area with button that click jumps to top of page*/
footer {
  margin-top: 2%;
  text-align: end;
  font-weight: bold;
  text-decoration-line: underline;
}

footer #topBtn {
  margin-left: 2%;
  background-color: var(--mycolor);
}

/*Media Query & responsive design styling*/

/*media query for desktop screens*/
@media screen and (max-width: 1225px) {
  .header nav ul {
    display: flex;
    flex-direction: column;
  }
  .header li {
    justify-content: space-between;
}

/*media query for laptop screens*/
@media screen and (max-width: 1024px) {
  .header h1 {
    /* display: block; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header nav ul {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .header li a {
    flex-wrap: nowrap;
  }
  .header h1 .Lorraine {
    top: 0px;
  }
}

/*media query for tablet screens*/
@media screen and (max-width: 768px) {
  .header li a {
    flex-wrap: nowrap;
  }
}

/*media query for phone screens*/
@media screen and (max-width: 480px) {
  .header h1 {
    /* display: block; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}
/*smaller than 563 nav words split*/
/*smaller than 500 header nav has white space aside/*
/*do we style for smaller than phone ~330?*/
