/* color pallet options
#3E8E7E
#7CD1B8
#FABB51
#FAEDC6

#00AF91
#007965
#F58634
#FFCC29 */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
}

:root {
  --mycolor: rgb(245, 195, 33);
}

/*Nav bar styling & links*/
nav {
  padding: 20px;
  background: radial-gradient(circle, #7cd1b8, #3e8e7e);
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.img {
  border-radius: 50%;
}

.name h1 {
  text-transform: uppercase;
  font-size: 42px;
  display: flex;
  align-items: center;
}

/*Animation added to middle name*/
.name h1 .Lorraine {
  color: var(--mycolor);
  text-transform: none;
  font-family: "Brush Script MT", cursive;
  font-size: 76px;
  letter-spacing: 2px;
  position: relative;
  animation: bounce 2s linear 1ms normal 3;
  padding: 12px;
}

@keyframes bounce {
  from {
    top: -100px;
    bottom: 40px;
  }
  to {
    top: 70px;
    bottom: 70px;
  }
}

/*Initials for smaller screens*/
.initials h1 {
  color: var(--mycolor);
  text-transform: none;
  font-family: "Brush Script MT", cursive;
  font-size: 66px;
  letter-spacing: 8px;
  position: relative;
  padding: 12px;
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--mycolor);
  font-size: 26px;
  font-weight: bolder;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  text-decoration: none;
}

.lines {
  display: none;
}

.lines div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/*Resume open browser of google docx*/
#resume {
  color: white;
  text-decoration: underline;
}

#resume:hover {
  font-size: 200%;
}

#resume:active {
  color: #ffffff;
}

/*About section*/
.about-me p {
  font-size: 22px;
  border: 6px solid #7cd1b8;
  padding: 1%;
  border-radius: 8px;
  margin: 2%;
}

.full-name {
  display: none;
}

.title {
  color: var(--mycolor);
  font-weight: bold;
}

.work-title h3 {
  font-size: 28px;
  color: var(--mycolor);
  display: flex;
  float: left;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 15%;
  margin-top: 350px;

}

/*Flexbox display of linked works*/
.work-flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: 6px solid #7cd1b8;
  margin-left: 20%;
  padding: 1%;
}

.flexbox-card {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  border: 4px solid #3e8e7e;
  border-radius: 8px;
  margin-bottom: 24px;
  position: relative;
  opacity: 0.8;
}

.flexbox-card-1 {
  flex: 0 0 90%;
  background-image: url("../images/gym-diary.png");
  background-size: cover;
  height: 250px;
  left: 40px;
}

.flexbox-card-2 {
  flex: 0 0 30%;
  background-image: url("../images/day-planner-image.PNG");
  background-size: cover;
  height: 250px;
  background-position: center;
}

.flexbox-card-3 {
  flex: 0 0 30%;
  background-image: url("../images/note-taker-image.jpg");
  background-size: cover;
  height: 250px;
  background-position: center;
}

.flexbox-card-4 {
  flex: 0 0 30%;
  background-image: url("../images/management-image.PNG");
  background-size: cover;
  height: 250px;
  background-position: center;
  width: 100%;
}

.flexbox-card-5 {
  flex: 0 0 90%;
  background-image: url("../images/password-image.PNG");
  background-size: cover;
  height: 250px;
  left: 40px;
}

.card-header {
  font-size: 18px;
  background-color: #faedc6;
  padding: 2%;
  position: absolute;
  color: #3e8e7e;
  opacity: 0.9;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  bottom: 6px;
  left: 0px;
}

.flexbox-card:hover {
  box-shadow: inset 0px 0px 8px var(--mycolor), 0 0 15px var(--mycolor);
}

/*Contact box*/
.contact-me {
  background: radial-gradient(circle, #3e8e7e, #7cd1b8);
  text-align: center;
  padding: 5%;
  font-size: 26px;
  font-weight: bolder;
  word-spacing: 30px;
  margin-top: 2%;
}

#email {
  color: white;
}

.contact-me a:link {
  color: var(--mycolor);
}
.contact-me a:visited {
  color: var(--mycolor);
}
.contact-me a:hover {
  font-size: 150%;
}
.contact-me a:active {
  color: var(--mycolor);
}

/*Footer area with button that click jumps to top of page*/
footer {
  margin-top: 2%;
  text-align: center;
  font-weight: bold;
}

footer #topBtn {
  font-size: 16px;
  margin-left: 1%;
  background-color: var(--mycolor);
  border-radius: 3px;
}

/*Media Query responsive design*/

@media screen and (max-width: 1500px) {
  .nav-links {
    position: absolute;
    top: 2%;
    right: 10px;
    justify-content: space-evenly;
    width: 52%;
  }
  .nav-links a {
    color: white;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    text-decoration: none;
  }

  #resume {
    color: var(--mycolor);
    text-decoration: underline;
  }
  #resume:hover {
    font-size: 200%;
  }

  #resume:active {
    color: var(--mycolor);
  }

  .name h1 {
    font-size: 32px;
    display: flex;
  }

  .img {
    height: 42vh;
    border-radius: 50%;
  }
}

/*media query for tablet screens*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .name h1 {
    display: none;
  }

  .initials h1 {
    display: block;
    font-size: 56px;
  }

  .img {
    height: 24vh;
    border-radius: 50%;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 42vh;
    top: 29.5vh;
    background-color: #3e8e7e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links a {
    font-size: 20px;
  }

  .lines {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .full-name {
    display: inline;
  }

  .flexbox-card {
    flex: 0 0 100%;
  }
}
